@font-face {
  font-family: Kalam-Regular;
  src: url("../assets/fonts/Kalam-Regular.ttf");
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter.ttf");
}
@font-face {
  font-family: Kalam-Bold;
  src: url("../assets/fonts/Kalam-Bold.ttf");
}
